
#sticker {
    width: 60%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sticker > div {
    border: 2px hotpink sold;
    background-color: coral;
}

#sticker button {
    display: block;
    width: 100%;
    border: none;
    background-color: #04AA6D;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;

    min-width: 50px;
  }

#sticker button:focus {
    background-color: aliceblue;
}